---
import Section from "../Section.astro"

import { basics } from "@cv"
const { summary, summary_0, summary_1, summary_2 } = basics
---

<Section title="Sobre mí">
  <p>
    {summary}
  </p>
  <br>
  <p>
    {summary_0}
  </p>
  <br>
  <p>
    {summary_1}
  </p>
  <br>
  <p>
    {summary_2}
  </p>
</Section>
